/*body formatting*/
/*title text*/
h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

/*main body*/
h4 {
  font-size: 45px;
  font-weight: bold; 
  padding-top: 45px;
  padding-left: 60px;
}

p {
  font-size: 14px;
  padding-top: 20px;
  margin-left: 7%;
}

h6 {
  font-size: 14px;
  padding-top: 20px;
  margin-left: 7%;
}


/*chart area*/
#polarArea {
  margin-left: 20%;
  margin-top: 35px;
}

#bar {
  margin-left: 3%;
}

#dot {
  margin-left: 4%;
}


/*sidebar*/
/*filter box formatting*/
.well {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
    padding-right: 51px;
}

#selDataset {
    font-size: 15px;
    padding-left: 16px;
    padding-right: 9px;
    margin-bottom: 10px;
}

#selDataset2 {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 7px;
}

/*AQcancer.html*/
#good-bar {
  padding-left: 65px;
}

#moderate-bar {
  padding-left: 10px;
}

#us-bar {
  padding-left: 65px;
}

#unhealthy-bar {
  padding-left: 10px;
}

#vu-bar {
  padding-left: 65px;
}

#hazardous-bar {
  padding-left: 10px;
}









