/*body formatting*/
/*title text*/
h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

/*overview*/
h4 {
  font-size: 45px;
  font-weight: bold; 
  padding-top: 45px;
  padding-left: 60px;
}

p {
  font-size: 14px;
  padding-top: 20px;
  margin-left: 7%;
}

/*chart area*/
#polarArea {
  margin-left: 20%;
  margin-top: 35px;
}

#bar {
  margin-left: 3%;
}


/*sidebar*/
/*filter box formatting*/
.well {
    border: 0.5px solid;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 51px;
}

#selDataset {
    font-size: 15px;
    padding-left: 7px;
    padding-right: 1px;
}

#selDataset2 {
    font-size: 15px;
}






