/*body formatting*/
/*title text*/
h1 {
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}

/*overview*/
h4 {
  font-size: 45px;
  font-weight: bold; 
  padding-top: 50px;
  padding-left: 55px;
}

p {
  font-size: 12px;
  padding-top: 20px;
  margin-left: 5%;
}

/*sidebar*/
/*filter box formatting*/
.well {
    border: 1px solid;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 51px;

}

#selDataset {
    font-size: 15px;
    padding-left: 7px;
    padding-right: 1px;
}

#selDataset2 {
    font-size: 15px;
}






